---
import Header from './Home/Header.svelte';
import Hero from './Home/Hero.svelte';
import WhyChooseUs from './Home/WhyChooseUs.svelte';
---

<div id="container">
	<Header client:load />
	<main>
		<Hero client:load />
		<WhyChooseUs client:idle />
	</main>
</div>
