---
import '../styles/global.css'; 
---

<!DOCTYPE html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Butuh konveksi seragam kerja di Jakarta? Custom Style siap bantu dengan layanan cepat, kualitas premium & harga terjangkau!" />
		<meta name="keywords" content="konveksi, konveksi seragam, konveksi jakarta, konveksi seragam kerja, konveksi seragam custom, custom style" />
    <meta name="author" content="Raul Ahmad Maulidhino" />
    <meta name="theme-color" content="#586750" />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="Custom Style | Konveksi Seragam Jakarta & Seragam Kerja Custom" />
    <meta property="og:image" content="https://cstmstyle-landing-page.vercel.app/images/og/Custom-Style_OG.jpg" />
    <meta property="og:url" content="https://cstmstyle-landing-page.vercel.app" />
    <meta property="og:type" content="website" />

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="cstmstyle-landing-page.vercel.app" />
    <meta property="twitter:url" content="https://cstmstyle-landing-page.vercel.app" />
    <meta property="twitter:title" content="Custom Style | Konveksi Seragam Jakarta & Seragam Kerja Custom" />
    <meta property="twitter:description" content="Butuh konveksi seragam kerja di Jakarta? Custom Style siap bantu dengan layanan cepat, kualitas premium & harga terjangkau!" />
    <meta property="twitter:image" content="https://cstmstyle-landing-page.vercel.app/images/og/Custom-Style_OG.jpg" />
		
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="icon" href="/favicon/favicon.ico">
		<link rel="preload" href="/images/hero/Hero-Image.jpeg" as="image" />
    <link rel="manifest" href="/favicon/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>Custom Style | Konveksi Seragam Jakarta & Seragam Kerja Custom</title>
	</head>
	<body class="bg-primary">
		<slot />
	</body>
</html>
